<%- include('partials/header'); -%>
<main class='home-main'>
    <div class="jumbotron">
        <h1 class="display-4">Coming soon!</h1>
        <p class="lead">Hello, <%= userName %>!</p>
        <p class="lead">The Hangman game is being developed and coded. Let's have some coffee with a doughnut and wait until it's finished :)</p>
        <hr class="my-4">
        <p>(Please, be patient)</p>
        <br>
        <a class="btn btn-primary btn-lg" href="/" role="button">Go back</a>
        <a class="btn btn-secondary btn-lg" href="/logout" role="button">Log out</a>
    </div>
</main>

<%- include('partials/footer'); -%>