<%- include('partials/header'); -%>

<main class='home-main'>
    <div class='home-main_greeting container-fluid'>
        <h1 class='home-main_greeting_header'>Welcome to Hangman Game!</h1>
        <div class='home-main_greeting_option'>
            <h4>New to this site?</h4>
            <form action='/register' method='GET'>
                <button class='btn btn-warning option-button'>Register</button>
            </form>
        </div>
        <div class='home-main_greeting_option'>
            <h4>Already have an account?</h4>
            <form action='/login' method='GET'>
                <button class='btn btn-info option-button'>Log in</button>
            </form>
        </div>
        <form action='/game' method='GET'>
            <button class='main-action-button'>Let's go!</button>
        </form>
    </div>
</main>

<%- include('partials/footer'); -%>
