<%- include('partials/header'); -%>
<main class='home-main'>
    <div class="row">
        <div class="game_progress-image col-md-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Hangman-6.png/120px-Hangman-6.png" alt="">
        </div>
        <div class="col-md-6">
            <div class="jumbotron bg-white">
                <h1 class="display-4">You have lost :(</h1>
                <p class="lead">The word was: <%= guessedWord %></p>
            </div>
            <a class="btn btn-secondary" href="/starting-page" role="button">Go back</a>
        </div>
    </div>
</main>

<%- include('partials/footer'); -%>