<%- include('partials/header'); -%>
<main class='home-main'>
    <div class="jumbotron">
        <h1 class="display-4">Congratulations!</h1>
        <p class="lead">You won!</p>
        <p class="lead">The word was: <%= guessedWord %></p>
        <hr class="my-4">
        <p>Start another game or take some time to celebrate :)</p>
        <a class="btn btn-secondary" href="/starting-page" role="button">Go back</a>
    </div>
</main>

<%- include('partials/footer'); -%>